[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
install = "*"
django-admin-soft-dashboard = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"

[dev-packages]

[requires]
python_version = "3.12"
